
<div class="container mt-4">
  <form [noValidate]="false">
    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">Korisnicko ime:</label>
      <div class="col-sm-9">
        <p class="form-control-plaintext">{{korisnik.korIme}}</p>
      </div>
    </div>

    <div class="row mb-3">
      <label for="ime" class="col-sm-3 col-form-label">Ime:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="ime" [(ngModel)]="korisnik.ime" name="ime">
      </div>
    </div>

    <div class="row mb-3">
      <label for="prezime" class="col-sm-3 col-form-label">Prezime:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="prezime" [(ngModel)]="korisnik.prezime" name="prezime">
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">Pol:</label>
      <div class="col-sm-9">
        <div class="form-check">
          <input type="radio" class="form-check-input" id="muski" [(ngModel)]="korisnik.pol" value="M" name="pol">
          <label class="form-check-label" for="muski">Muški</label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" id="zenski" [(ngModel)]="korisnik.pol" value="Z" name="pol">
          <label class="form-check-label" for="zenski">Ženski</label>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="adresa" class="col-sm-3 col-form-label">Adresa:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="adresa" [(ngModel)]="korisnik.adresa" name="adresa">
      </div>
    </div>

    <div class="row mb-3">
      <label for="telefon" class="col-sm-3 col-form-label">Kontakt telefon:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="telefon" [(ngModel)]="korisnik.kontaktTelefon" name="telefon">
      </div>
    </div>

    <div class="row mb-3">
      <label for="imejl" class="col-sm-3 col-form-label">Imejl:</label>
      <div class="col-sm-9">
        <p class="form-control-plaintext">{{korisnik.imejl}}</p>
      </div>
    </div>

    <div class="row mb-3">
      <label for="slika" class="col-sm-3 col-form-label">Slika:</label>
      <div class="col-sm-9">
        <div class="selected-image no-border" *ngIf="korisnik.slika != null">
          <img src="{{korisnik.slika}}" alt="Profilna slika" class="img-thumbnail" style="max-width: 100px;">
        </div>
        <input type="file" class="form-control-file mt-2" name="slika" accept=".jpg,.jpeg,.png" (change)="change($event)">
      </div>
    </div>

    <div class="row mb-3">
      <label for="kartica" class="col-sm-3 col-form-label">Broj kreditne kartice:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="kartica" [(ngModel)]="korisnik.kartica" name="kartica" (change)="proveriKarticu()">
        <div class="selected-image no-border mt-2" *ngIf="slikaKartice != null">
          <img src="{{slikaKartice}}" alt="Kartica" style="max-height: 20px;">
        </div>
      </div>
    </div>

    <div class="text-danger mb-3">{{poruka}}</div>
    
    <button class="btn btn-primary" (click)="azurirajKorisnika()">Ažuriraj</button>
  </form>
</div>
