<h3 class="text-center mb-3">Broj poslova po mesecu</h3>
<div class="d-flex justify-content-center mb-4">
  <div class="w-100" style="max-width: 800px;">
    <canvas id="Bars">{{ chart1 }}</canvas>
  </div>
</div>

<h3 class="text-center mb-3">Raspodela posla između dekoratera</h3>
<div class="d-flex justify-content-center mb-4">
  <div class="w-100" style="max-width: 800px;">
    <canvas id="Pie">{{ chart2 }}</canvas>
  </div>
</div>

<h3 class="text-center mb-3">Procenat ukupnog posla firme po danu</h3>
<div class="d-flex justify-content-center mb-4">
  <div class="w-100" style="max-width: 800px;">
    <canvas id="Histogram">{{ chart3 }}</canvas>
  </div>
</div>
