<div class="container mt-4">
    <!-- Podaci firme -->
    <div class="row mb-4">
      <div class="col-md-12">
        <table class="table table-bordered">
          <tbody>
            <tr><td>Naziv:</td><td>{{firma.naziv}}</td></tr>
            <tr><td>Adresa:</td><td>{{firma.adresa}}</td></tr>
            <tr><td>Naziv usluge:</td><td>Cena usluge:</td></tr>
            <tr *ngFor="let usluga of firma.usluge">
              <td>{{usluga[0]}}</td><td>{{usluga[1]}}</td>
            </tr>
            <tr>
              <td>Lokacija:</td>
              <td>
                <iframe [src]="lokacija" width="300" height="300" class="border-0" allowfullscreen loading="lazy"></iframe>
              </td>
            </tr>
            <tr><td>Kontakt:</td><td>{{firma.kontakt}}</td></tr>
            <tr>
              <td>Komentari:</td>
              <td>
                <ul class="list-unstyled">
                  <li *ngFor="let komentar of listaKomentara">{{komentar.komentarZavrsetka}}</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <hr>
        <span class="text-danger" style="white-space: pre-line;">{{poruka}}</span>
      </div>
    </div>
  
    <!-- Forma za unos -->
    <div *ngIf="korak == 1" class="row mb-4">
      <div class="col-md-12">
        <table class="table">
          <tbody>
            <tr><td>Vreme dolaska:</td><td><input type="date" [(ngModel)]="vremeDolaska" name="vreme" class="form-control"></td></tr>
            <tr><td>Kvadratura baste</td><td><input type="number" [(ngModel)]="kvadraturaBaste" name="kvadraturaBaste" class="form-control"></td></tr>
            <tr>
              <td>Tip baste:</td>
              <td>
                <div class="form-check">
                  <input type="radio" [(ngModel)]="tip" name="tip" value="privatna" class="form-check-input" id="privatnaBasta">
                  <label class="form-check-label" for="privatnaBasta">Privatna basta</label>
                </div>
                <div class="form-check">
                  <input type="radio" [(ngModel)]="tip" name="tip" value="restoran" class="form-check-input" id="bastaRestorana">
                  <label class="form-check-label" for="bastaRestorana">Basta restorana</label>
                </div>
              </td>
            </tr>
            <tr><td colspan="2"><button (click)="dalje()" class="btn btn-primary">Nastavi</button></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <!-- Druga forma -->
    <div *ngIf="korak == 2 && tip == 'privatna'" class="row mb-4">
      <div class="col-md-12">
        <table class="table">
          <tbody>
            <tr><td>Kvadratura bazena:</td><td><input type="number" [(ngModel)]="kvadraturaBazen" name="kvadraturaBazen" class="form-control"></td></tr>
            <tr><td>Kvadratura zelenila</td><td><input type="number" [(ngModel)]="kvadraturaZelenilo" name="kvadraturaZelenilo" class="form-control"></td></tr>
            <tr><td>Kvadratura za lezaljke i stolove</td><td><input type="number" [(ngModel)]="kvadraturaLezaljkeStolovi" name="kvadraturaLezaljkeStolovi" class="form-control"></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div *ngIf="korak == 2 && tip == 'restoran'" class="row mb-4">
      <div class="col-md-12">
        <table class="table">
          <tbody>
            <tr><td>Kvadratura fontane:</td><td><input type="number" [(ngModel)]="kvadraturaFontane" name="kvadraturaFontane" class="form-control"></td></tr>
            <tr><td>Kvadratura zelenila</td><td><input type="number" [(ngModel)]="kvadraturaZelenilo" name="kvadraturaZelenilo" class="form-control"></td></tr>
            <tr><td>Broj stolova</td><td><input type="number" [(ngModel)]="brojStolova" name="brojStolova" class="form-control"></td></tr>
            <tr><td>Broj stolica</td><td><input type="number" [(ngModel)]="brojStolica" name="brojStolica" class="form-control"></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <!-- Opis i dodatni zahtevi -->
    <div *ngIf="korak == 2" class="row mb-4">
      <div class="col-md-12">
        <table class="table">
          <tbody>
            <tr><td>Opis i dodatni zahtevi:</td><td><input type="text" [(ngModel)]="opis" name="opis" class="form-control"></td></tr>
            <tr *ngFor="let usluga of firma.usluge">
              <td>{{usluga[0]}}</td><td>{{usluga[1]}}</td>
              <td><input type="checkbox" (change)="promenaUsluga(usluga)"></td>
            </tr>
            <tr><td colspan="3"><button (click)="dalje()" class="btn btn-primary">Nastavi</button></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <!-- Canvas i dodatne opcije -->
    <div [ngClass]="{'pokazi': korak == 3, 'nePokazuj': korak != 3}" class="row mb-4">
      <div class="col-md-12">
        <table class="table">
          <tbody>
            <tr><td><canvas #canvas width="800" height="600" (click)="onCanvasClick($event)" class="border"></canvas></td></tr>
            <tr>
              <td>
                <select [(ngModel)]="odabranOblik" class="form-control">
                  <option value="zelenilo">Zelenilo</option>
                  <option value="bazen" *ngIf="tip == 'privatna'">Bazen</option>
                  <option value="fontana" *ngIf="tip == 'restoran'">Fontana</option>
                  <option value="sto" *ngIf="tip == 'restoran'">Sto</option>
                  <option value="stolica" *ngIf="tip == 'restoran'">Stolica</option>
                  <option value="lezaljka" *ngIf="tip == 'privatna'">Lezaljka</option>
                </select>
              </td>
            </tr>
            <tr><td><input type="file" [(ngModel)]="canvasInput" (change)="change($event)" class="form-control-file"></td></tr>
            <tr><td><button (click)="dodajZakazivanje()" type="submit" class="btn btn-primary">Dodaj zakazivanje</button></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>