.rating {
    unicode-bidi: bidi-override;
    color: #ccc;
    font-size: 2rem;
    display: inline-flex;
  }
  
  .rating span {
    transition: color 0.2s;
  }
  
  .rating span.filled {
    color: gold;
  }